.popup__form {
    width: 430px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); /* Для Firefox */
    -ms-transform: translate(-50%, -50%); /* Для IE */
    -webkit-transform: translate(-50%, -50%); /* Для Safari, Chrome, iOS */
    -o-transform: translate(-50%, -50%); /* Для Opera */
}

@media screen and (max-width: 540px) {
  .popup__form {
      width: 282px;
  }
}