.cards__like {
    display: block;
    height: 18px;
    width: 20px;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
}

.cards__like:hover {
    opacity: 0.5;
    transition : all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}
